@model IEnumerable<Hospital_System.Models.VaccineDo>

@{
    ViewBag.Title = "VaccineListAdmin";
    Layout = "~/Views/Shared/_LayoutRec.cshtml";

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">




<script>
    function confirmDelete(deleteUrl) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record!",
            icon: "warning",  // Updated to 'icon' instead of 'type'
            buttons: {
                cancel: "No, cancel!",
                confirm: {
                    text: "Yes, delete it!",
                    value: true,
                    visible: true,
                    className: "btn-danger",
                    closeModal: true
                }
            }
        })
            .then((willDelete) => {
                if (willDelete) {
                    // Make AJAX request to delete the record
                    $.ajax({
                        url: deleteUrl,
                        type: 'POST',
                        success: function (result) {
                            // Reload or update the table as needed
                            swal("Deleted!", "Your record has been deleted.", "success");
                            location.reload(); // Reload the page to see changes
                        },
                        error: function (err) {
                            swal("Error!", "There was a problem deleting the record.", "error");
                        }
                    });
                } else {
                    swal("Your record is safe!");
                }
            });
    }
</script>
@using (Html.BeginForm())
{

    <div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Vaccination</a>
                </li>
                <li class="page-back" style="margin-left:-10px;">
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 80%; margin-top:135px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">

                        <div>
                            <h4 style="margin-left: 300px; color: #808080;font-size:30px;">Vaccination</h4>
                            <input type="button" value="Add New" onclick="window.location.href='@Url.Action("Addvaccine", "VaccinationAdmin")'" class="my-btn" style="margin-left: 10px; margin-top: -28px; position: absolute; ">
                               
                            @*<input type="search" id="dep" name="dep" placeholder="Search Department" style="padding: 10px; width: 200px; border: 1px solid #ccc; border-radius: 4px; position: absolute; margin-left: 600px; margin-top: -32px; ">
                                <input type="submit" value="Search" style="padding: 10px 15px; position: absolute; margin-left: 800px; margin-top: -28px;" class="my-btn">*@
                       
                        </div>
                    </div>



                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <tr>
                                    <th>Patient Id</th>
                                    <th>Patient Name</th>
                                    <th>Doctor Name</th>
                                    <th>Age</th>
                                    <th>Vaccine Id</th>
                                    <th>Vaccine Type</th>
                                    <th>Dosage</th>
                                    <th>Date Of Vaccination</th>
                                    <th>Followup Date</th>
                                    <th>Next Due Date</th>
                                    <th>Reaction Type</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.PatientId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DoctorName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Age)</td>
                                        <td>@Html.DisplayFor(modelItem => item.VaccineId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.VaccineType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Dosage)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DateOfVaccination)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FollowupDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NextDueDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ReactionType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                        <td style="display:flex;gap:5px;">
                                            <a href="@Url.Action("VaccineEdit", new { PatientId = item.PatientId })">
                                                <i class="fas fa-edit" style="color: blue; font-size: 20px; color:blue;background:none;"></i>
                                            </a>
                                            <a href="javascript:void(0);"
                                               onclick="confirmDelete('@Url.Action("VaccineDelete", new { PatientId = item.PatientId })')">
                                                <i class="fas fa-trash-alt" style="font-size: 20px; color: red; background: none;"></i>
                                            </a>

                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


<style>
    .my-btn {
        color: #ffffff;
        background: #57666d;
        padding: 10px;
        line-height: 10px;
        font-weight: 1000;
    }

    .inn-titles {
        padding: 1px 25px;
        background: #002147;
        height: 70px;
    }
</style>
