@model Hospital_System.Viewmodel.Allview

@{
    ViewBag.Title = "Reception";
    Layout = "~/Views/Shared/_LayoutRec.cshtml";
}

<style>
    .link-container {
        position: absolute;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        text-align: center;
        padding: 20px;
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 195px;
        height: 165px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    #tab2 {
        margin-left: -21px;
        margin-top: 20px;
        width: 19%;
    }

    #tab4 {
        margin-left: 729px;
        margin-top: 18px;
        width: 18%;
    }

    #tab7 {
        margin-left: 237px;
        margin-top: 20px;
        width: 18%;
    }

    #tab8 {
        margin-left: 483px;
        margin-top: 20px;
        width: 18%;
    }

    .tag {
        font-weight: 900;
        font-size: larger;
        color: whitesmoke;
    }
</style>

<div class="sb2-2" style="margin-top: 58px; height: 140vh;">
    <div class="sb2-2-2">
        <ul>
            <li><a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li class="active-bre"><a href="#"> Reception</a></li>
            <li class="page-back"><a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-backward" aria-hidden="true"></i> Back</a></li>
        </ul>
    </div>

    <div class="sb2-2-1" style="height: 35%; background-color: #e3e8ea;">
        <!-- Dynamic Dashboard Link Containers -->
        <div id="tab2" class="link-container" style="background-image: url('../../images/portrait-male-doctors-nurse-using-digital-tablet-corridor_107420-71369.png'); background-size: cover; background-position: center;">
            <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>
            <a href="/ConsultantAdmin/ConsultantList" class="link" data-chart="Doctors" style="position: relative; z-index: 1;">
                <span class="tag">Doctors</span>
            </a>
        </div>

        <div id="tab4" class="link-container" style="background-image: url('../../images/ambulance-truck.png'); background-size: cover; background-position: center;">
            <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>
            <a href="/AmbulanceR/AmbList" class="link" data-chart="Ambulances" style="position: relative; z-index: 1;">
                <span class="tag">Ambulances</span>
            </a>
        </div>

        <div id="tab7" class="link-container" style="background-image: url('../../Images/OutP.png'); background-size: cover; background-position: center;">
            <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>
            <a href="/OutPatientAdmin/OutPatientList" class="link" data-chart="OutPatients" style="position: relative; z-index: 1;">
                <span class="tag">OutPatient</span>
            </a>
        </div>

        <div id="tab8" class="link-container" style="background-image: url('../../Images/inpatient.png'); background-size: cover; background-position: center;">
            <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>
            <a href="/InPatientAdmin/InPatientListAd" class="link" data-chart="InPatients" style="position: relative; z-index: 1;">
                <span class="tag">Inpatients</span>
            </a>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{

    <div class="row" style="margin-left: 272px; ">
        <div class="col-md-12" style=" margin-left: -22px; margin-top: -520px;">
            <div class="box-inn-sp" style="margin-left: 25px; ">
                <div class="inn-title">
                    <h4> Doctor List </h4>

                </div>

                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Department</th>
                                    <th>Designation</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Doctors)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Department)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Designation)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status)</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



