@model Hospital_System.Viewmodel.Allview

@{
    ViewBag.Title = "Book List";
    Layout = "~/Views/Shared/_LayoutPatientPage1.cshtml";
}


<script>
    function CreateNew() {
        window.location.href = '@Url.Action("AddAppointmentAd", "Appointment")'; // Updated to use Url.Action for routing
    }

    function Back() {
        window.location.href = "/Patient/Dashboard";
    }
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


@using (Html.BeginForm())
{

    <div class="sb2-2" style="margin-top: 76px; height: 92%;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/Patient/Dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> List Of Appointments</a>
                </li>
                <li class="page-back">
                    <a href="/Patient/Dashboard"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-left: 272px;">
        <div class="col-md-12" style="margin-top:-465px;">
            <div class="box-inn-sp">
                <div class="inn-title" style="color:white;">
                    <h2>Appointment list </h2>

                </div>

                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Patient Name</th>
                                    <th>Gender</th>
                                    <th>Problem</th>
                                    <th>Phone Number</th>
                                    <th>Address</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MAppointmentAds)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Problem)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Time)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}