@model Hospital_System.Dash.DashboardDetails

@{
    ViewBag.Title = "Dashboard";
    // Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    h1 {
        text-align: center;
        margin-top: 20px;
        color: #343a40;
    }

    .link-container {
        position: absolute;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        text-align: center;
        padding: 20px;
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 195px;
        height: 165px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

        .link-container:hover {
            background-color: #6baef6;
            box-shadow: 0 6px 12px rgba(0,0,0,0.15);
        }

    .icon {
        font-size: 36px;
        margin-bottom: 15px;
    }

    #tab1 .icon {
        color: #007bff;
    }

    #tab2 .icon {
        color: #28a745;
    }

    #tab3 .icon {
        color: #dc3545;
    }

    #tab4 .icon {
        color: #ffc107;
    }

    #tab5 .icon {
        color: #17a2b8;
    }

    #tab6 .icon {
        color: #6c757d;
    }

    #tab7 .icon {
        color: #e83e8c;
    }

    #tab8 .icon {
        color: #fd7e14;
    }

    .count {
        font-size: 28px;
        color: #343a40;
        margin: 10px 0;
        color: whitesmoke;
    }

    .tag {
        font-weight: 900;
        font-size: larger;
        color: whitesmoke;
    }

    #tab1 {
        margin-top: 20px;
        width: 18%;
        margin-left: -40px;
    }

    #tab2 {
        margin-left: 206px;
        margin-top: 20px;
        width: 18%;
    }

    #tab3 {
        margin-left: 452px;
        margin-top: 20px;
        width: 18%;
    }

    #tab4 {
        margin-left: 698px;
        margin-top: 20px;
        width: 18%;
        
    }

    #tab5 {
        margin-top: 190px;
        margin-left: -40px;
        width: 18%;
    }

    #tab6 {
        margin-left: 206px;
        margin-top: 190px;
        width: 18%;
    }

    #tab7 {
        margin-left: 452px;
        margin-top: 190px;
        width: 18%;
    }

    #tab8 {
        margin-left: 698px;
        margin-top: 190px;
        width: 18%
    }

    .link-container a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 226px;
        height: 48vh;
        text-decoration: none;
        color: inherit;
    }

    #pieChartContainer {
        width: 50%;
        height: 400px;
        margin: 20px auto;
        text-align: center;
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
    }
</style>

@using (Html.BeginForm())
{
    <div class="sb2-2" style="margin-top: 60px; height: 150vh;">
        <div class="sb2-2-2">
            <ul>
                <li><a href="/Dashboard/DashboardView"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li class="active-bre"><a href="#"> Dashboard</a></li>
                <li class="page-back"><a href="/Patient/Dashboard"><i class="fa fa-backward" aria-hidden="true"></i> Back</a></li>
            </ul>
        </div>

        <div class="sb2-2-1" style="height: 60%; background-color: #e3e8ea;">

            <!-- Dynamic Dashboard Link Containers -->
            <div id="tab1" class="link-container" style="background-image: url('../../Images/dep.png'); background-size: cover; background-position: center; ">
                <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>

                <a href="/Department/DepartmentList" class="link" style="position: relative; z-index: 1">
                    <p class="count">@Model.MDepartmentCount</p>
                    <span class="tag">Department</span>
                </a>
            </div>

            <div id="tab2" class="link-container" style=" background-image: url('../../images/portrait-male-doctors-nurse-using-digital-tablet-corridor_107420-71369.png'); background-size: cover; background-position: center;">
                <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>

                <a href="/DoctorAd/DoctorListAd" class="link" style="position: relative; z-index: 1;">
                    <p class="count">@Model.MDoctorCount</p>
                    <span class="tag">Doctors</span>
                </a>
            </div>

            <div id="tab3" class="link-container" style=" background-image: url('../../images/patient.png'); background-size: cover; background-position: center;">
                <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>

                <a href="/AppointmentAd/AppointmentList" class="link" style="position: relative; z-index: 1;">
                    <p class="count">@Model.MPatientCount</p>
                    <span class="tag">Patient</span>
                </a>
            </div>

            <div id="tab4" class="link-container" style=" background-image: url('../../images/Appt.png'); background-size: cover; background-position: center;">
                <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>

                <a href="/AppointmentAd/AppointmentList" class="link" style="position: relative; z-index: 1;">
                    <p class="count">@Model.MAppointmentCount</p>
                    <span class="tag">Appointment</span>
                </a>
            </div>

            <div id="tab5" class="link-container" style="background-image: url('../../Images/medicine.png'); background-size: cover; background-position: center; ">
                <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>
                <a href="/MedicineAd/MedicineAdList" class="link" style="position: relative; z-index: 1;">
                    <p class="count">@Model.MMedicineAdCount</p>
                    <span class="tag">Medicine</span>
                </a>
            </div>

            <div id="tab6" class="link-container" style="background-image: url('../../Images/OIP.png'); background-size: cover; background-position: center; ">

                <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>

                <a href="/ComplaintAd/ComplaintAdList" class="link" style="position: relative; z-index: 1;">
                    <p class="count">@Model.MComplaintAdCount</p>
                    <span class="tag">Complaint</span>
                </a>
            </div>

            <div id="tab7" class="link-container" style="background-image: url('../../Images/Ann.png'); background-size: cover; background-position: center; ">
                <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>
                <a href="/AnnouncementAd/AnnouncementList" class="link" style="position: relative; z-index: 1;">
                    <p class="count">@Model.MAnnouncementCount</p>
                    <span class="tag">Announcement</span>
                </a>
            </div>

            <div id="tab8" class="link-container" style=" background-image: url('../../images/ambulance-truck.png'); background-size: cover; background-position: center;">
                <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 0;"></div>
                <a href="/AmbulanceAd/AmbulanceListAd" class="link" style="position: relative; z-index: 1;">
                    <p class="count">@Model.MAmbulanceCount</p>
                    <span class="tag">Ambulance</span>
                </a>
            </div>

        </div>
    </div>
}

<div class="row" style="margin-left: 272px;">
    <div class="col-md-12" style="margin-top:-417px; width:100%;margin-left:-15px;">
        <div class="box-inn-sp" style="margin-left: 15px; ">
            <div class="inn-title">
                <h4> Doctor List </h4>

            </div>
            <div class="tab-inn">
                <div class="table-responsive table-desi">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Doctor ID</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Department</th>
                                <th>Designation</th>
                                <th>Phone No</th>
                                <th>Contact No</th>
                                <th>Education</th>
                                <th>Gender</th>
                                <th>Status</th>
                                @*<th>Action</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.mDoctorAds)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.DoctorId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Department)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Designation)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PhoneNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ContactNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Education)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    @*<td>
                                        <a href="@Url.Action("DAEdit", new { DoctorId = item.DoctorId })" class="action-link">
                                            <i class="fas fa-edit" style="color:blue;"></i>
                                        </a>
                                        <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DADelete", new { DoctorId = item.DoctorId })')" class="action-link">
                                            <i class="fas fa-trash-alt" style="color:red;"></i>
                                        </a>
                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
