@model Hospital_System.Models.Vaccines

@{
    ViewBag.Title = "VaccinesById";
    Layout = "~/Views/Shared/_LayoutPatRec.cshtml";
}



<style>


    .patient-details-container {
        margin-left: 198px;
        padding: 20px;
        margin-top: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
        width: 672px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /*  border-radius: 5px;*/
    }



        .patient-details-container .field {
            margin-bottom: 15px; /* Adds space between fields */
            font-size: 16px;
        }

            .patient-details-container .field strong {
                font-size: 18px;
                color: #003366; /* A darker color for the labels */
            }

        .patient-details-container .field {
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 3px;
        }

            .patient-details-container .field:last-child {
                margin-bottom: 0;
            }



    strong {
        color: #333;
    }
</style>
<div class="sb2-2" style="margin-top:76px; height:140vh;">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="/Reception/Reception"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> Inpatient</a>
            </li>
            <li class="page-back">
                <a href="/Reception/Reception"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>


    <div style="padding: 14px 36px; background: #002147; margin-top: 0px; margin-left: 198px; width: 671px; color: white;">
        <h4>Vaccination Details</h4>

    </div>

    <div class="patient-details-container">

        <div class="field">
            <strong>Vaccination ID:</strong> @Model.VaccineId
        </div>
        <div class="field">
            <strong>Patient Name:</strong> @Model.PatientName
        </div>
        <div class="field">
            <strong>Age:</strong> @Model.Age
        </div>
        <div class="field">
            <strong>Doctor Name:</strong> @Model.DoctorName
        </div>
        <div class="field">
            <strong>Vaccination Type:</strong> @Model.VaccineType
        </div>
        <div class="field">
            <strong>Date of Vaccination:</strong> @Model.DateOfVaccination
        </div>
        <div class="field">
            <strong>Dosage:</strong> @Model.Dosage
        </div>
        <div class="field">
            <strong>Follow-Up Date:</strong> @Model.FollowupDate
        </div>
        <div class="field">
            <strong>Next Due Date:</strong> @Model.NextDueDate
        </div>
        <div class="field">
            <strong>Reaction:</strong> @Model.ReactionType
        </div>
        <div class="field">
            <strong>Status:</strong> @Model.Status
        </div>
    </div>
</div>
