@model Hospital_System.Viewmodel.Allview
@{
    ViewBag.Title = "Doctor List";
    Layout = "~/Views/Shared/_LayoutPatientPage1.cshtml";
}

@using (Html.BeginForm())
{
    <div class="sb2-2" style="margin-top: 58px; height: 120vh;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/Patient/Dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Doctors</a>
                </li>
                <li class="page-back">
                    <a href="/Patient/Dashboard"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-left: 272px;">
        <div class="col-md-12" style="margin-top:-650px;">
            <div class="box-inn-sp">
                <div class="inn-title" style="height:60px;">
                    <h4>Doctor List</h4>
                    <div>
                        <input type="search" id="searchvalue" name="searchvalue" placeholder="Search doctors..." style="position: absolute; margin-left: 25%; width: 36%; height: 40px; margin-top: -27px;">
                       <div> <input type="submit" value="Search" style="margin-left: 670px; position: absolute; margin-top: -27px; height: 40px; width: 9%; background-color: #f44336; border-color: #f44336;  border-radius:5px; color:white;" /></div>

                    </div>
                </div>

                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Education</th>
                                    <th>Department</th>
                                    <th>Phone No</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Doctors)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Education)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Department)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhoneNo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status)</td>

                                        <!--<button type="button" class="label label-success"style="border-radius: 5px; border-color: #5cb85c" onclick="window.location.href='@Url.Action("AddBook", "Appointment")'">-->
                                        @*<i class="fas fa-calendar-plus"></i>*@
                                        <!--Book
                                       </button>-->
                                        <td><a href="@Url.Action("DoctorApp", "Doctor", new { DoctorId = item.DoctorId })" class="ad-st-view">View</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
