@model Hospital_System.Dash.DashboardDetails

@{
    ViewBag.Title = "DepartmentList";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

@using (Html.BeginForm("DepartmentList", "Department", FormMethod.Get))
{
    <div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/Dashboard/DashboardView"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Department</a>
                </li>
                <li class="page-back" style="margin-left:-10px;">
                    <a href="/Dashboard/DashboardView"><i class="fa fa-backward" aria-hidden="true" ></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 80%; margin-top:135px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        
                        <div>
                            <h4 style="margin-left: 300px; color: #808080;font-size:30px;">Department List</h4>
                            <input type="button" value="Add New" onclick="window.location.href='@Url.Action("AddDepartment", "Department")'" class="my-btn" style="margin-left: 10px; margin-top: -28px; position: absolute; ">
                            <input type="search" id="dep" name="dep"  placeholder="Search Department" style="padding: 10px; width: 200px; border: 1px solid #ccc; border-radius: 4px; position: absolute; margin-left: 600px; margin-top: -32px; ">
                            <input type="submit" value="Search" style="padding: 10px 15px; position: absolute; margin-left: 800px; margin-top: -28px;" class="my-btn">
                        </div>
                    </div>

                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Department Name</th>
                                        <th>Doctor Name</th>
                                        <th>Education</th>
                                        <th>Description</th>
                                        <th>Gender</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.mDepartments)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DoctorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Education)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td>
                                                <a href="@Url.Action("DLEdit", new { Id = item.Id })" title="Edit">
                                                    <i class="fas fa-edit" style="color:blue;"></i>
                                                </a>
                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("DLDelete", new {Id = item.Id })')">
                                                    <i class="fas fa-trash-alt" style="color:red;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<!-- SweetAlert JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<script type="text/javascript">
    // JavaScript function for confirming delete action
    function confirmDelete(url) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this department!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = url; // Redirect to delete action
                }
            });
    }
</script>

<style>
    .my-btn {
        color: #ffffff;
        background: #57666d;
        padding: 10px;
        line-height: 10px;
        font-weight: 1000;
    }
</style>
