@model IEnumerable<Hospital_System.Models.Nurse>

@{
    ViewBag.Title = "GetNurses";
    Layout = "~/Views/Shared/_LayoutPatRec.cshtml";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/All css/css/bootstrap.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/All css/css/style.css" rel="stylesheet">
    <link href="~/All css/css/style-mob.css" rel="stylesheet">

    <link href="~/All css/animate/animate.css" rel="stylesheet" />
    <link href="~/All css/animate/animate.min.css" rel="stylesheet" />

    <!-- External styles for SweetAlert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
</head>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<body>

    @using (Html.BeginForm())
    {
        <div class="sb2-2" style="margin-top: 76px; height: 125vh;">
            <div class="sb2-2-2">
                <ul>
                    <li>
                        <a href="/Reception/Reception"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    </li>
                    <li class="active-bre">
                        <a href="#"> Nurse List</a>
                    </li>
                    <li class="page-back">
                        <a href="/Reception/Reception"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                    </li>
                </ul>
            </div>


            <div class="row" ">
                <div class="col-md-12" ">
                    <div class="box-inn-sp">
                        <div class="inn-title">
                            <h4>Nurse List</h4>
                            @*<li class="page-back" style="position: absolute; margin-left: 1184px; margin-top: -25px;">
                                    <a href="/Reception/Reception"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                                </li>*@
                            <input type="button" value="Add New" style="position: absolute; margin-left: 132px; margin-top: -31px; width: 7%; height: 37px; background-color: #58b392; border-radius: 5px; border-color: #58b392; color: white; " onclick="window.location.href='@Url.Action("AddNurse", "Nurse")'">


                        </div>

                        <div class="tab-inn">
                            <div class="table-responsive table-desi">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>NurseID</th>
                                            <th>Name</th>
                                            <th>Contact</th>
                                            <th>Email</th>
                                            <th>ShiftType</th>
                                            <th>Employment Status</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var nurse in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(m => nurse.NurseId)</td>
                                                <td>@Html.DisplayFor(m => nurse.Name)</td>
                                                <td>@Html.DisplayFor(m => nurse.Contact)</td>
                                                <td>@Html.DisplayFor(m => nurse.Email)</td>
                                                <td>@Html.DisplayFor(m => nurse.ShiftType)</td>
                                                <td>@Html.DisplayFor(m => nurse.EmployeeStatus)</td>
                                                <td><a href="@Url.Action("NurseDetails", "Nurse", new { NurseId = nurse.NurseId })" class="ad-st-view">View</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
</body>
