@model Hospital_System.Models.Nurse

@{
    ViewBag.Title = "NurseDetails";
    Layout = "~/Views/Shared/_LayoutPatRec.cshtml";
}

<style>

    .patient-details-container {
        margin-left: 198px;
        padding: 20px;
        margin-top: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
        width: 672px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /*  border-radius: 5px;*/
    }



        .patient-details-container .field {
            margin-bottom: 15px; /* Adds space between fields */
            font-size: 16px;
        }

            .patient-details-container .field strong {
                font-size: 18px;
                color: #003366; /* A darker color for the labels */
            }

        .patient-details-container .field {
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 3px;
        }

            .patient-details-container .field:last-child {
                margin-bottom: 0;
            }



    strong {
        color: #333;
    }
</style>

<div class="sb2-2" style="margin-top:76px; height:140vh;">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="/Reception/Reception"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> NurseDetails</a>
            </li>
            <li class="page-back">
                <a href="/Reception/Reception"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>





    <div style="padding: 14px 36px; background: #002147; margin-top: -9px; margin-left: 198px; width: 671px; color: white;">
        <h4>Nurse Details</h4>

    </div>

    <div class="patient-details-container">

        <div class="field">
            <strong>Nurse ID:</strong> @Model.NurseId
        </div>
        <div class="field">
            <strong>Name:</strong> @Model.Name
        </div>
        <div class="field">
            <strong>DOB:</strong> @Model.DOB
        </div>
        <div class="field">
            <strong>Contact:</strong> @Model.Contact
        </div>
        <div class="field">
            <strong>Email:</strong> @Model.Email
        </div>
        <div class="field">
            <strong>Address:</strong> @Model.Address
        </div>
        <div class="field">
            <strong>Date of Joining:</strong> @Model.DateOfJoining
        </div>
        <div class="field">
            <strong>Specialization:</strong> @Model.Specialization
        </div>
        <div class="field">
            <strong>Education:</strong> @Model.Education
        </div>
        <div class="field">
            <strong>Shift Type:</strong> @Model.ShiftType
        </div>
        <div class="field">
            <strong>Employment Status:</strong> @Model.EmployeeStatus
        </div>
    </div>

</div>

