@model Hospital_System.Models.Nurse

@{
    ViewBag.Title = "NurseDetails";
    Layout = null;
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #f9f9f9;
    }

    div {
        background-color: #fff;
        padding: 20px;
        /* border-radius: 8px;*/
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 700px;
        margin: auto;
    }

    strong {
        color: #333;
    }


    /*.field {
        margin-bottom: 10px;*/ /* Adds space between fields */
    /*}*/

    /* Back Button Styling */
    .back-button {
        display: inline-block;
        padding: 10px 15px;
        background-color: #ff6a00;
        border-color: #ff6a00;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        text-decoration: none;
        /*   margin-bottom: 20px;*/
        transition: background-color 0.3s ease;
    }

        .back-button:hover {
            background-color: #ff6a00; /* Darker blue on hover */
        }

        .back-button:active {
            background-color: #ff6a00; /* Even darker blue when clicked */
        }
</style>


<body>

    <button onclick="window.history.back();" class="back-button"> Back</button>

    <div style="padding: 14px 36px; background: #002147; margin-top: -43px; margin-left: 284px; width: 670px; color: white;">
        <h4>Vaccination Details</h4>

    </div>

    <div>
       
        <div class="field">
            <strong>Nurse ID:</strong> @Model.NurseId
        </div>
        <div class="field">
            <strong>Name:</strong> @Model.Name
        </div>
        <div class="field">
            <strong>DOB:</strong> @Model.DOB
        </div>
        <div class="field">
            <strong>Contact:</strong> @Model.Contact
        </div>
        <div class="field">
            <strong>Email:</strong> @Model.Email
        </div>
        <div class="field">
            <strong>Address:</strong> @Model.Address
        </div>
        <div class="field">
            <strong>Date of Joining:</strong> @Model.DateOfJoining
        </div>
        <div class="field">
            <strong>Specialization:</strong> @Model.Specialization
        </div>
        <div class="field">
            <strong>Education:</strong> @Model.Education
        </div>
        <div class="field">
            <strong>Shift Type:</strong> @Model.ShiftType
        </div>
        <div class="field">
            <strong>Employment Status:</strong> @Model.EmployeeStatus
        </div>
    </div>

</body>

