@model Hospital_System.Dash.DashboardDetails

@{
    ViewBag.Title = "Patient List";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<!-- Main container -->
<div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="/Dashboard/DashboardView"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> Department</a>
            </li>
            <li class="page-back">
                <a href="/Dashboard/DashboardView"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>
</div>

<div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 80%; margin-top:135px;">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h1 style="font-size: 30px; margin-left: 300px; color: white; font-size:20px;">Patient Management</h1>

                    <!-- Action buttons -->
                    <div>
                        @*<input type="button" value="Add New" onclick="CreateNew()" class="btn-action">*@
                        @*<input type="search" id="patient" name="patient" placeholder="Search Patient" class="input-search">
                            <input type="submit" value="Search" class="btn-action" formmethod="get">*@
                    </div>
                </div>
                <!-- Patient table -->
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>PatientName</th>
                                    @*<th>Doctor Name</th>*@
                                    <th>Department</th>
                                    <th>Date</th>
                                    <th>Time</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.mPatients)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.DoctorName)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.Department)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Time)</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Scripts for actions -->
