@model Hospital_System.Models.HospPatient

@{
    ViewBag.Title = "GetHospPatient";
    Layout = "~/Views/Shared/_LayoutPatRec.cshtml";
}

<style>
    .patient-details-container {
        margin-left: 198px;
        padding: 20px;
        margin-top: 1px;
        background-color: #fff;
        border: 1px solid #ddd;
        width: 672px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /*  border-radius: 5px;*/
    }



        .patient-details-container .field {
            margin-bottom: 15px; /* Adds space between fields */
            font-size: 16px;
        }

            .patient-details-container .field strong {
                font-size: 18px;
                color: #003366; /* A darker color for the labels */
            }

        .patient-details-container .field {
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 3px;
        }

            .patient-details-container .field:last-child {
                margin-bottom: 0;
            }



    strong {
        color: #333;
    }
</style>

<div class="sb2-2" style="margin-top:58px; height:140vh;">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="/Reception/Reception"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> InpatientDetails</a>
            </li>
            <li class="page-back">
                <a href="/Reception/Reception"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>




    <div style="padding: 14px 36px; background: #002147; margin-top: 10px; margin-left: 198px; width: 670px; color: white;">
        <h4>Patient Details</h4>

    </div>


    <div class="patient-details-container">


        <div class="field">  <strong>Patient Name:</strong> @Model.PatientName <br /></div>
        <div class="field">    <strong>Admission Date:</strong> @Model.AdmissionDate <br /></div>
        <div class="field">   <strong>Discharge Date:</strong> @Model.DischargeDate <br /></div>
        <div class="field">   <strong>Problem:</strong> @Model.Problem <br /></div>
        <div class="field">  <strong>Status:</strong> @Model.Status <br /></div>
    </div>
</div>