@model Hospital_System.Models.HospPatient

@{
    Layout = "~/Views/Shared/_LayoutPatRec.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OPID</title>
    <style>
        .patient-details-container {
            margin-left: 198px;
            padding: 20px;
            margin-top: 1px;
            background-color: #fff;
            border: 1px solid #ddd;
            width: 672px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            /*  border-radius: 5px;*/
        }



            .patient-details-container .field {
                margin-bottom: 15px; /* Adds space between fields */
                font-size: 16px;
            }

                .patient-details-container .field strong {
                    font-size: 18px;
                    color: #003366; /* A darker color for the labels */
                }

            .patient-details-container .field {
                padding: 10px;
                background-color: #f9f9f9;
                border-radius: 3px;
            }

                .patient-details-container .field:last-child {
                    margin-bottom: 0;
                }



        strong {
            color: #333;
        }
    </style>
</head>
<div class="sb2-2" style="margin-top:76px;">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="/Reception/Reception"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> PatientDetails</a>
            </li>
            <li class="page-back">
                <a href="/Reception/Reception"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>



    <div style="padding: 14px 36px; background: #002147; margin-top: 27px; margin-left: 199px; width: 670px; color: white; ">
        <h4>Patient Details</h4>

    </div>


    <div class="patient-details-container">
        <div class="field"><strong>Name:</strong> @Model.PatientName</div>
        <div class="field"><strong>Problem:</strong> @Model.PatientType</div>
        <div class="field"><strong>Gender:</strong> @Model.Gender</div>
        <div class="field"><strong>Phone Number:</strong> @Model.PhoneNumber</div>
        <div class="field"><strong>Description:</strong> @Model.Description</div>
        <div class="field"><strong>Address:</strong> @Model.Address</div>
        <div class="field"><strong>Admission Date:</strong> @Model.AdmissionDate</div>
        <div class="field"><strong>Discharge Date:</strong> @Model.DischargeDate</div>
        <div class="field"><strong>Treatment Duration:</strong> @Model.TreatmentDuration</div>
        <div class="field"><strong>Problem:</strong> @Model.Problem</div>
        <div class="field"><strong>Status:</strong> @Model.Status</div>
    </div>
</div>
