@model IEnumerable<Hospital_System.Models.Billing>


@{
    ViewBag.Title = "InvoiceIP";
    Layout = "~/Views/Shared/_LayoutPatRec.cshtml";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/All css/css/bootstrap.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/All css/css/style.css" rel="stylesheet">
    <link href="~/All css/css/style-mob.css" rel="stylesheet">

    <link href="~/All css/animate/animate.css" rel="stylesheet" />
    <link href="~/All css/animate/animate.min.css" rel="stylesheet" />

    <!-- External styles for SweetAlert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
</head>

@using (Html.BeginForm())
{
    <div class="sb2-2" style="margin-top: 76px; height: 125vh;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/Reception/Reception"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Billing</a>
                </li>
                <li class="page-back">
                    <a href="/Reception/Reception"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>






        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp" style="width: 100%;">
                    <div class="inn-title">
                        @*<li class="page-back">
                                <a href="/Reception/Reception"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                            </li>*@
                        <h4>Billing List</h4>
                        <input type="button" value="Add New" style="position: absolute; margin-left: 129px; margin-top: -30px; color: white; background-color: #58b392; border-color: #58b392; border-radius: 5px; width: 7%; height: 36px; " onclick="window.location.href='@Url.Action("AddBill", "Billing")'">
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <th>PatientId</th>
                                        <th>PatientName</th>
                                        <th>Problem</th>
                                        <th>BillingDate</th>
                                        @*<th>DoctorFee</th>
                                            <th>TreatmentDuration</th>
                                            <th>TreatmentCharges</th>
                                            <th>MedicineCharges</th>
                                            <th>RoomFee</th>
                                            <th>Others</th>
                                            <th>OthersCost</th>*@
                                        <th>TotalBill</th>
                                        <th>GST</th>
                                        <th>TotalAmount</th>
                                        <th>PaidBill</th>

                                        @*<th>InsuranceClaimed</th>
                                            <th>Status</th>*@
                                        <th>MethodOfPayment</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(m => item.PatientId)</td>
                                            <td>@Html.DisplayFor(m => item.PatientName)</td>
                                            <td>@Html.DisplayFor(m => item.Problem)</td>
                                            <td>@Html.DisplayFor(m => item.BillingDate)</td>
                                            @*<td>@Html.DisplayFor(m => item.DoctorFee)</td>
                                                <td>@Html.DisplayFor(m => item.TreatmentDuration)</td>
                                                <td>@Html.DisplayFor(m => item.TreatmentCharges)</td>
                                                <td>@Html.DisplayFor(m => item.MedicineCharges)</td>
                                                <td>@Html.DisplayFor(m => item.RoomFee)</td>
                                                <td>@Html.DisplayFor(m => item.Others)</td>
                                                <td>@Html.DisplayFor(m => item.OthersCost)</td>*@
                                            <td>@Html.DisplayFor(m => item.TotalBill)</td>
                                            <td>@Html.DisplayFor(m => item.GST)</td>
                                            <td>@Html.DisplayFor(m => item.TotalAmount)</td>

                                            <td>@Html.DisplayFor(m => item.PaidBill)</td>
                                            @*<td>@Html.DisplayFor(m => item.InsuranceClaimed)</td>
                                                <td>@Html.DisplayFor(m => item.Status)</td>*@
                                            <td>@Html.DisplayFor(m => item.MethodOfPayment)</td>

                                            <td style="display:flex;gap:5px;">

                                                <a href="@Url.Action("BillingId", "Billing", new { PatientId = item.PatientId })">   <i class="fas fa-eye"></i> </a>


                                                <a href="@Url.Action("BillE", new { PatientId = item.PatientId })">
                                                    <i class="fas fa-edit" style="font-size: 20px; color: blue; background: none; margin-top: -5px;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
