@model IEnumerable<Hospital_System.Models.AttendanceDo>

@{
    ViewBag.Title = "Attendance List";
    Layout = "~/Views/Shared/_LayoutRec.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



<script>
    function confirmDelete(deleteUrl) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record!",
            icon: "warning",  // Updated to 'icon' instead of 'type'
            buttons: {
                cancel: "No, cancel!",
                confirm: {
                    text: "Yes, delete it!",
                    value: true,
                    visible: true,
                    className: "btn-danger",
                    closeModal: true
                }
            }
        })
            .then((willDelete) => {
                if (willDelete) {
                    // Make AJAX request to delete the record
                    $.ajax({
                        url: deleteUrl,
                        type: 'POST',
                        success: function (result) {
                            // Reload or update the table as needed
                            swal("Deleted!", "Your record has been deleted.", "success");
                            location.reload(); // Reload the page to see changes
                        },
                        error: function (err) {
                            swal("Error!", "There was a problem deleting the record.", "error");
                        }
                    });
                } else {
                    swal("Your record is safe!");
                }
            });
    }
</script>


@using (Html.BeginForm())
{
    <div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Attendance</a>
                </li>
                <li class="page-back" style="margin-left:-10px;">
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 80%; margin-top:135px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <div>
                            <h4 style="margin-left: 300px; color: white;font-size:20px;">Attendance List</h4>
                            <input type="button" value="Add New" onclick="window.location.href='@Url.Action("AddAttendance", "AttendanceAdmin")'" class="my-btn" style="margin-left: 10px; margin-top: -28px; position: absolute; ">
                        </div>
                    </div>


                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Department</th>
                                        <th>Job Title</th>
                                        <th>Contact</th>
                                        <th>Shift</th>
                                        <th>Time</th>
                                        <th>LoginTime</th>
                                        <th>LogoutTime</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="row-@item.Id">
                                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Department)</td>
                                            <td>@Html.DisplayFor(modelItem => item.JobTitle)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Contact)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Shift)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Time)</td>
                                            <td>@Html.DisplayFor(modelItem => item.LoginTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.LogoutTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td style="display:flex;gap:5px;">
                                                <a href="@Url.Action("AttendanceEdit", new { Id = item.Id })" title="Edit">
                                                    <i class="fas fa-edit" style="color: blue; font-size: 20px; background:none;"></i>
                                                </a>
                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("AttendanceDelete", new { Id = item.Id })', @item.Id)">
                                                    <i class="fas fa-trash-alt" style="font-size: 20px; color: red; background: none;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .my-btn {
        color: #ffffff;
        background: #57666d;
        padding: 10px;
        line-height: 10px;
        font-weight: 1000;
    }

    .inn-titles {
        padding: 1px 25px;
        background: #002147;
        height: 70px;
    }
</style>
