@model IEnumerable<Hospital_System.Models.NurseDo>

@{
    ViewBag.Title = "NurseList";
    Layout = "~/Views/Shared/_LayoutRec.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Confirm delete function using SweetAlert and AJAX
    function confirmDelete(deleteUrl) {
        Swal.fire({
            title: "Are you sure?",
            text: "You will not be able to recover this record!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            reverseButtons: true,
            focusCancel: true // Focus on the Cancel button
        }).then((result) => {
            if (result.isConfirmed) {
                // Perform AJAX request to delete the record
                $.ajax({
                    url: deleteUrl, // URL to your delete action
                    type: 'POST', // or 'DELETE' depending on your controller action
                    success: function (response) {
                        // On successful deletion
                        Swal.fire("Deleted!", "Your record has been deleted.", "success");
                        location.reload(); // Reload the page to reflect changes
                    },
                    error: function (xhr, status, error) {
                        // In case of an error, show error message
                        Swal.fire("Error!", "There was a problem deleting the record.", "error");
                    }
                });
            } else {
                // If the action was cancelled, show a message
                Swal.fire("Cancelled", "Your record is safe.", "info");
            }
        });
    }
</script>










@using (Html.BeginForm())
{
    <div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Nurse</a>
                </li>
                <li class="page-back" style="margin-left:-10px;">
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 100%; margin-top:135px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">

                        <div>
                            <h4 style="margin-left: 300px; color: white;font-size:20px;">Nurse Details</h4>
                            <input type="button" value="Add New" onclick="window.location.href='@Url.Action("AddNurse", "NurseAdmin")'" class="my-btn" style="margin-left: 10px; margin-top: -28px; position: absolute; ">

                            @*<input type="search" id="dep" name="dep" placeholder="Search Department" style="padding: 10px; width: 200px; border: 1px solid #ccc; border-radius: 4px; position: absolute; margin-left: 600px; margin-top: -32px; ">
                                <input type="submit" value="Search" style="padding: 10px 15px; position: absolute; margin-left: 800px; margin-top: -28px;" class="my-btn">*@

                        </div>
                    </div>


                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>NurseId</th>
                                        <th>Name</th>
                                        <th>DOB</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Date Of Joining</th>
                                        <th>Specialization</th>
                                        <th>Shift Type</th>
                                        <th>Education</th>
                                        <th>Employee Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.NurseId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Contact)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DateOfJoining)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Specialization)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ShiftType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Education)</td>
                                            <td>@Html.DisplayFor(modelItem => item.EmployeeStatus)</td>
                                            <td style="display:flex;gap:5px;">
                                                <a href="@Url.Action("NurseEdit", new { NurseId = item.NurseId })" title="Edit">
                                                    <i class="fas fa-edit" style="color: blue; font-size: 20px; background:none;"></i>
                                                </a>
                                                <a href="javascript:void(0);"
                                                   onclick="confirmDelete('@Url.Action("NurseDelete", new { NurseId = item.NurseId })')">
                                                    <i class="fas fa-trash-alt" style="font-size: 20px; background: none; color: red;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .my-btn {
        color: #ffffff;
        background: #57666d;
        padding: 10px;
        line-height: 10px;
        font-weight: 1000;
    }

    .inn-titles {
        padding: 1px 25px;
        background: #002147;
        height: 70px;
    }
</style>
