@model IEnumerable<Hospital_System.Models.MInPatient>
@{
    ViewBag.Title = "OutPatientListAd";
    Layout = "~/Views/Shared/_LayoutRec.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



@using (Html.BeginForm())
{
    <div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Out Patients </a>
                </li>
                <li class="page-back" style="margin-left:-10px;">
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 80%; margin-top:135px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <div>
                            <h4 style="margin-left: 300px; color: #808080;font-size:20px; color:white;">OutPatient List</h4>
                        </div>
                    </div>

                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Patient Id</th>
                                        <th>@Html.DisplayNameFor(m => m.First().PatientName)</th>
                                        <th>@Html.DisplayNameFor(m => m.First().Problem)</th>
                                        <th>@Html.DisplayNameFor(m => m.First().Description)</th>
                                        <th>@Html.DisplayNameFor(m => m.First().Gender)</th>
                                        <th>@Html.DisplayNameFor(m => m.First().Address)</th>
                                        <th>@Html.DisplayNameFor(m => m.First().PhoneNumber)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(m => item.Id)</td>
                                            <td>@Html.DisplayFor(m => item.PatientName)</td>
                                            <td>@Html.DisplayFor(m => item.Problem)</td>
                                            <td>@Html.DisplayFor(m => item.Description)</td>
                                            <td>@Html.DisplayFor(m => item.Gender)</td>
                                            <td>@Html.DisplayFor(m => item.Address)</td>
                                            <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
                                            <td><a href="@Url.Action("OPID", "Outpatient", new { Id = item.Id })">View</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


<style>
    .my-btn {
        color: #ffffff;
        background: #57666d;
        padding: 10px;
        line-height: 10px;
        font-weight: 1000;
    }

    .inn-titles {
        padding: 1px 25px;
        background: #002147;
        height: 70px;
    }
</style>
