@model IEnumerable<Hospital_System.Models.MInPatient>
@{
    ViewBag.Title = "OutPatientListAd";
    Layout = null;
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/All css/css/bootstrap.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/All css/css/style.css" rel="stylesheet">
    <link href="~/All css/css/style-mob.css" rel="stylesheet">

    <link href="~/All css/animate/animate.css" rel="stylesheet" />
    <link href="~/All css/animate/animate.min.css" rel="stylesheet" />

    <!-- External styles for SweetAlert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
</head>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />







<div class="row">
    <div class="col-md-12" ">
        <div class="box-inn-sp">
            <div class="inn-title">
                <li class="page-back">
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
                <h4 style="color:white;">Outpatient List</h4>

            </div>

            <div class="tab-inn">
                <div class="table-responsive table-desi">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Patient Id</th>
                                <th>@Html.DisplayNameFor(m => m.First().PatientName)</th>
                                <th>@Html.DisplayNameFor(m => m.First().Problem)</th>
                                <th>@Html.DisplayNameFor(m => m.First().Description)</th>
                                <th>@Html.DisplayNameFor(m => m.First().Gender)</th>
                                <th>@Html.DisplayNameFor(m => m.First().Address)</th>
                                <th>@Html.DisplayNameFor(m => m.First().PhoneNumber)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Id)</td>
                                    <td>@Html.DisplayFor(m => item.PatientName)</td>
                                    <td>@Html.DisplayFor(m => item.Problem)</td>
                                    <td>@Html.DisplayFor(m => item.Description)</td>
                                    <td>@Html.DisplayFor(m => item.Gender)</td>
                                    <td>@Html.DisplayFor(m => item.Address)</td>
                                    <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
                                    <td><a href="@Url.Action("OPID", "Outpatient", new { Id = item.Id })">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>