@model Hospital_System.Dash.DashboardDetails

@{
    ViewBag.Title = "Announcement List";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<script>
    function CreateNew() {
        window.location.href = 'AddRole';
    }

    function confirmDelete(deleteUrl) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: deleteUrl,
                type: 'POST',
                success: function () {
                    swal("Deleted!", "Your record has been deleted.", "success");
                    location.reload(); // Automatically refresh the page after successful deletion
                },
                error: function () {
                    swal("Error!", "There was a problem deleting the record.", "error");
                }
            });
        });
    }
</script>
<script>
    function CreateNew() {
        // Show loading SweetAlert
        swal({
            title: "Loading...",
            text: "Please wait while we load the page.",
            imageUrl: "https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/images/loading.gif", // Loading spinner image
            imageSize: "50x50", // Set size of the image
            showConfirmButton: false, // Hide confirm button
            allowOutsideClick: false, // Prevent closing by clicking outside
            timer: 3000 // Time to show the loading spinner (optional)
        });

        // Redirect to AddMedicineAd page after a 1-second delay
        setTimeout(function () {
            window.location.href = '@Url.Action("AddRole", "RolesAdmin")'; // Adjust to your controller
        }, 1000);
    }

    function confirmDelete(deleteUrl) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: deleteUrl,
                type: 'POST',
                success: function () {
                    swal("Deleted!", "Your record has been deleted.", "success");
                    location.reload();
                },
                error: function () {
                    swal("Error!", "There was a problem deleting the record.", "error");
                }
            });
        });
    }
</script>




@using (Html.BeginForm())
{
    <div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/Dashboard/DashboardView"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Roles</a>
                </li>
                <li class="page-back">
                    <a href="/Dashboard/DashboardView"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 80%; margin-top:135px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">

                    <div class="inn-titles">


                        <div>
                            <h2 style="margin-left: 200px; color: #808080">Roles List</h2>
                            <input type="button" value="Add New" onclick="CreateNew()" class="my-btn" style="position: absolute; margin-top: -42px;">
                            <input type="search" id="roles" name="roles" placeholder="Search announcements" class="search-box" style="padding: 10px; width: 200px; border: 1px solid #ccc; border-radius: 4px; position: absolute; margin-left: 600px; margin-top: -50px;">
                            <input type="submit" value="Search" class="my-btn" style="position: absolute; margin-left: 800px; margin-top: -45px; ">
                        </div>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Roles</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.RoleDOs)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Roles)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                            <td style="display: flex; gap: 10px;">
                                                <a href="@Url.Action("RoleEdit", new { Id = item.Id })" class="action-link">
                                                    <i class="fas fa-edit" style="color: blue;"></i>
                                                </a>
                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("RoleDelete", new { Id = item.Id })')" class="action-link">
                                                    <i class="fas fa-trash-alt" style="color:red;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



<style>
    .my-btn {
        color: #ffffff;
        background: #57666d;
        padding: 10px;
        line-height: 10px;
        font-weight: 1000;
    }

    .inn-titles {
        padding: 1px 25px;
        background: #002147;
    }
</style>
