@model IEnumerable<Hospital_System.Models.DischargeDo>


@{
    ViewBag.Title = "DischargeListAd";
    Layout = "~/Views/Shared/_LayoutRec.cshtml";

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<script>
    function confirmDelete(deleteUrl) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record!",
            icon: "warning",  // Updated to 'icon' instead of 'type'
            buttons: {
                cancel: "No, cancel!",
                confirm: {
                    text: "Yes, delete it!",
                    value: true,
                    visible: true,
                    className: "btn-danger",
                    closeModal: true
                }
            }
        })
            .then((willDelete) => {
                if (willDelete) {
                    // Make AJAX request to delete the record
                    $.ajax({
                        url: deleteUrl,
                        type: 'POST',
                        success: function (result) {
                            // Reload or update the table as needed
                            swal("Deleted!", "Your record has been deleted.", "success");
                            location.reload(); // Reload the page to see changes
                        },
                        error: function (err) {
                            swal("Error!", "There was a problem deleting the record.", "error");
                        }
                    });
                } else {
                    swal("Your record is safe!");
                }
            });
    }
</script>



@using (Html.BeginForm())
{

    <div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Discharge summary</a>
                </li>
                <li class="page-back" style="margin-left:-10px;">
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 90%; margin-top:135px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <div>
                            <h4 style="margin-left: 300px; color: #808080;font-size:20px; color:white;">Discharge Summary</h4>
                            <input type="button" value="Add New" onclick="window.location.href='@Url.Action("AddDischarge", "DischargeAdmin")'" class="my-btn" style="margin-left: 10px; margin-top: -28px; position: absolute; ">
                        </div>
                    </div>



                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <tr>
                                    <th>Patient Id</th>
                                    <th>Patient Name</th>
                                    <th>Reason</th>
                                    <th>Findings</th>
                                    <th>Lab Reports</th>
                                    <th>Procedure and Treatment</th>
                                    <th>Further Instruction</th>
                                    <th>Admission Date</th>
                                    <th>Discharge Date</th>
                                    <th>Treatment Duration</th>
                                    <th>Discharge Amount</th>
                                    <th>Follow Up</th>
                                    <th>Action</th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.PatientId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Reason)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Findings)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Labreports)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ProcedureandTreatment)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FurtherInstruction)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AdmissionDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DischargeDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TreatmentDuration)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DischargeAmount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FollowUp)</td>
                                        <td class="icon-container" style="display:flex; gap:5px;">
                                            <a href="@Url.Action("DischargeEdit", new { PatientId = item.PatientId })">
                                                <i class="fas fa-edit" style="background: none; color: blue; font-size: 20px;"></i>
                                            </a>
                                            <a href="javascript:void(0);"
                                               onclick="confirmDelete('@Url.Action("DischargeDelete", new { PatientId = item.PatientId })')">
                                                <i class="fas fa-trash-alt" style="background: none; color: red; font-size: 20px;"></i>
                                            </a>


                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}



<style>
    .my-btn {
        color: #ffffff;
        background: #57666d;
        padding: 10px;
        line-height: 10px;
        font-weight: 1000;
    }

    .inn-titles {
        padding: 1px 25px;
        background: #002147;
        height: 60px;
    }
</style>