@model Hospital_System.Models.Doctor

<div id="doctorDetails" style="padding: 20px; border: 1px solid #ddd; border-radius: 5px; background-color: #fff;">
    <h3>Doctor Details</h3>
    <div>
        <img src="@Model.PhotoUrl" style="width:200px; height:150px;" />
    </div>
    <div>
        <strong>Name:</strong> @Model.FullName
    </div>
    <div>
        <strong>Email:</strong> @Model.Email
    </div>
    <div>
        <strong>Department:</strong> @Model.Department
    </div>

    <div>
        <strong>Education:</strong> @Model.Education
    </div>

    <div>
        <strong>Designation:</strong> @Model.Designation
    </div>
    <div>
        <strong>Status:</strong> @Model.Status
    </div>
    <div>
        <strong>Phone:</strong> @Model.PhoneNo
    </div>

    <button onclick="closePopup()" class="back">Back</button>
</div>

<script>
    function closePopup() {
        $('#doctorPopup').hide();
        $('#overlay').hide();
    }
</script>
<style>
    .back {
        width: 100px;
        height: 27px;
        color: white;
        background-color: dodgerblue;
        border-radius: 5px;
        border-color: dodgerblue;
    }
    



</style>