@model Hospital_System.Viewmodel.Allview

@{
    ViewBag.Title = "Ambulances";
    Layout = "~/Views/Shared/_LayoutPatientPage1.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<title>@ViewBag.Title</title>

@using (Html.BeginForm())
{

    <div class="sb2-2" style="margin-top: 56px; height: 120%;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/Patient/Dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Ambulance</a>
                </li>
                <li class="page-back">
                    <a href="/Patient/Dashboard"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-left: 270px; width:80%">
        <div class="col-md-12" style="margin-top:-650px;">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Ambulance List</h4>

                </div>

                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>AmbulanceId</th>
                                    <th>AmbulanceStatus</th>
                                    <th>DriverName</th>
                                    <th>DriverID</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ambulance in Model.ambulances)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => ambulance.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => ambulance.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => ambulance.AmbulanceId)</td>
                                        <td>@Html.DisplayFor(modelItem => ambulance.AmbulanceStatus)</td>

                                        <td>@Html.DisplayFor(modelItem => ambulance.DriverName)</td>
                                        <td>@Html.DisplayFor(modelItem => ambulance.DriverId)</td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@*<div class="container">



    <div>
        <button class="button-back" onclick="Back()"><i class="fas fa-arrow-left"></i>Back </button>
        <h2>List of Ambulances</h2>
    </div>


    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>AmbulanceId</th>
                    <th>AmbulanceStatus</th>
                    <th>DriverName</th>
                    <th>DriverID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ambulance in Model.ambulances)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => ambulance.Id)</td>
                        <td>@Html.DisplayFor(modelItem => ambulance.Name)</td>
                        <td>@Html.DisplayFor(modelItem => ambulance.AmbulanceId)</td>
                        <td>@Html.DisplayFor(modelItem => ambulance.AmbulanceStatus)</td>

                        <td>@Html.DisplayFor(modelItem => ambulance.DriverName)</td>
                        <td>@Html.DisplayFor(modelItem => ambulance.DriverId)</td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</body>
</html>*@
