@model Hospital_System.Dash.DashboardDetails

<div id="ambulanceDetails" style="padding: 20px; border: 1px solid #ddd; border-radius: 5px; background-color: #fff;">
    <h2>Ambulance Details</h2>
    <p><strong>Name:</strong> @Model.mAmbulance.Name</p>
    <p><strong>AmbulanceId:</strong> @Model.mAmbulance.AmbulanceId</p>
    <p><strong>AmbulanceStatus:</strong> @Model.mAmbulance.AmbulanceStatus</p>
    <p><strong>Driver Name:</strong> @Model.mAmbulance.DriverName</p>
    <p><strong>Driver Id:</strong> @Model.mAmbulance.DriverId</p>
    @*<p><strong>Contact:</strong> @Model.mAmbulance.Contact</p>
    <p><strong>Address:</strong> @Model.mAmbulance.Address</p>
    <p><strong>CNIC:</strong> @Model.mAmbulance.CNIC</p>*@

    <button onclick="closePopup()" class="back">Back</button>
</div>

<script>
    function closePopup() {
        $('#AmbulancePopup').hide();
        $('#overlay').hide();
    }
</script>

<style>
    #ambulanceDetails {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
    }

    .back {
        width: 100px;
        height: 27px;
        color: white;
        background-color: dodgerblue;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .back:hover {
            background-color: #2c46a3;
        }
</style>
