@model Hospital_System.Dash.DashboardDetails

@{
    ViewBag.Title = "Ambulance List";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function CreateNew() {
        window.location.href = '@Url.Action("AddAmbulanceAd", "AmbulanceAd")';
    }

    // Real-time search function
    $(document).ready(function () {
        $("#Driver").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#ambulanceTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });

    function showAmbulance(AmbulanceId) {
        $.ajax({
            url: '@Url.Action("Ambulance", "AmbulanceAd")',
            type: 'GET',
            data: { Id: AmbulanceId },
            success: function (data) {
                $('#AmbulancePopup').html(data);
                $('#AmbulancePopup').show();
                $('#overlay').show();
            },
            error: function () {
                alert("Error loading details.");
            }
        });
    }

    function closePopup() {
        $('#AmbulancePopup').hide();
        $('#overlay').hide();
    }

    function confirmDelete(deleteUrl) {
        Swal.fire({
            title: "Are you sure?",
            text: "You will not be able to recover this record!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: deleteUrl,
                    type: 'DELETE',  // Use 'DELETE' method
                    success: function (response) {
                        Swal.fire("Deleted!", "Your record has been deleted.", "success");
                        location.reload();
                    },
                    error: function () {
                        Swal.fire("Error!", "There was a problem deleting the record.", "error");
                    }
                });
            }
        });
    }
</script>

@using (Html.BeginForm())
{
    <div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/Dashboard/DashboardView"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Department</a>
                </li>
                <li class="page-back">
                    <a href="/Dashboard/DashboardView"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 80%; margin-top:135px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <div>
                            <h1 style="margin-left: 200px; color: #808080"> Available Ambulance </h1>
                            <input type="button" value="Add New" onclick="CreateNew()" class="my-btn" style="position: absolute; margin-top: -42px;">
                            <input type="search" placeholder="Search..." id="Driver" name="Driver"  class="search-box" style="padding: 10px; width: 200px; border: 1px solid #ccc; border-radius: 4px; position: absolute; margin-left: 600px; margin-top: -50px;"/>
                       <input type="button" value="Submit" class="my-btn" style="position: absolute; margin-left: 800px; margin-top: -45px; "/>
                        </div>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table id="ambulanceTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Ambulance Id</th>
                                        <th>Status</th>
                                        <th>Driver Name</th>
                                        <th>Driver Id</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody style="background: linear-gradient(45deg, #e6e6fa, #ffffff);">
                                    @foreach (var item in Model.mAmbulances)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AmbulanceId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AmbulanceStatus)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DriverName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DriverId)</td>
                                            <td class="action-buttons">
                                                <a href="@Url.Action("AmbulanceEdit", new { Id = item.Id })">
                                                    <i class="fas fa-edit" style="color:blue;"></i>
                                                </a>
                                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("AmbulanceDelete", new { Id = item.Id })')">
                                                    <i class="fas fa-trash-alt" style="color:red;"></i>
                                                </a>
                                                @*<a href="javascript:void(0);" onclick="showAmbulance(@item.Id)">
                                                        <i class="fas fa-eye"></i>
                                                    </a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="AmbulancePopup" style="display:none;"></div>
    <div id="overlay" style="display:none;" onclick="closePopup()"></div>
}
<script>
    // Real-time search function
    $(document).ready(function () {
        $("#Driver").on("keyup", function () {
            var value = $(this).val().toLowerCase();  // Get search term and convert it to lowercase
            $("#ambulanceTable tr").filter(function () {
                // Filter table rows based on the text content of each row
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });

    function showAmbulance(AmbulanceId) {
        $.ajax({
            url: '@Url.Action("Ambulance", "AmbulanceAd")',
            type: 'GET',
            data: { Id: AmbulanceId },
            success: function (data) {
                $('#AmbulancePopup').html(data);
                $('#AmbulancePopup').show();
                $('#overlay').show();
            },
            error: function () {
                alert("Error loading details.");
            }
        });
    }

    function closePopup() {
        $('#AmbulancePopup').hide();
        $('#overlay').hide();
    }
</script>


<style>
    .my-btn {
        color: #ffffff;
        background: #57666d;
        padding: 10px;
        line-height: 10px;
        font-weight: 1000;
    }

    .inn-titles {
        padding: 1px 25px;
        background: #002147;
    }
</style>
