@model IEnumerable<Hospital_System.Models.FeedbackDo>

@{
    ViewBag.Title = "FeedbackListAdmin";
    Layout = "~/Views/Shared/_LayoutRec.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Confirm delete function using SweetAlert and AJAX
    function confirmDelete(deleteUrl) {
        Swal.fire({
            title: "Are you sure?",
            text: "You will not be able to recover this record!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            reverseButtons: true,
            focusCancel: true
        }).then((result) => {
            if (result.isConfirmed) {
                // Perform AJAX request to delete the feedback
                $.ajax({
                    url: deleteUrl,
                    type: 'POST', // or 'DELETE' depending on your controller action
                    success: function () {
                        Swal.fire("Deleted!", "Your record has been deleted.", "success");
                        location.reload(); // Reload the page to reflect changes
                    },
                    error: function () {
                        Swal.fire("Error!", "There was a problem deleting the record.", "error");
                    }
                });
            } else {
                Swal.fire("Cancelled", "Your record is safe.", "info");
            }
        });
    }
</script>

@using (Html.BeginForm())
{
    <div class="sb2-2" style="height: 20px; position: absolute; margin-top: 65px;">
        <div class="sb2-2-2">
            <ul>
                <li>
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre">
                    <a href="#"> Feedback</a>
                </li>
                <li class="page-back" style="margin-left:-10px;">
                    <a href="/ReceptionAdmin/ReceptionFrontPage"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sb2-2-3" style="margin-left: 20%; position: absolute; width: 80%; margin-top:135px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <div>
                            <h4 style="margin-left: 300px; color: white;font-size:20px;">Patient Feedback</h4>
                            <input type="button" value="Add New" onclick="window.location.href='@Url.Action("AddFeedbackAd", "FeedbackAdmin")'" class="my-btn" style="margin-left: 10px; margin-top: -28px; position: absolute;">
                        </div>
                    </div>

                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Feedback</th>
                                        <th>Doctor</th>
                                        <th>Staff</th>
                                        <th>Cleaning</th>
                                        <th>Overall Rating</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Age)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.phoneNumber)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Feedback)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Doctor)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Staff)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Cleaning)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Review)</td>
                                            <td style="display:flex;gap:5px;">
                                                <a href="@Url.Action("FeedbackEdit", new { Id = item.Id })" title="Edit">
                                                    <i class="fas fa-edit" style="color: blue; font-size: 20px; background:none;"></i>
                                                </a>
                                                <a href="javascript:void(0);"
                                                   onclick="confirmDelete('@Url.Action("FeedbackDelete", new { Id = item.Id })')">
                                                    <i class="fas fa-trash-alt" style="font-size: 20px; background: none; color: red;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .my-btn {
        color: #ffffff;
        background: #57666d;
        padding: 10px;
        line-height: 10px;
        font-weight: 1000;
    }

    .inn-titles {
        padding: 1px 25px;
        background: #002147;
        height: 70px;
    }
</style>
